/*STAGE*/

.container{float: left; width: 100%;}
.content{width: 95%; max-width: 95%; margin: 0 auto; padding: 10px 0; min-width: 650px;}

.font_small_small{font-size: 0.7em; font-weight: 600; margin-top: 10px;}

.timbre_head{width: 100%; margin-bottom: 25px;}
.timbre_head thead{font-size: 1.5em;}

.table_total{width: 100%; margin-top: 25px;}
.table_total{font-size: 0.875em;}
.table_total td{vertical-align: bottom;}

.timbre_foot{width: 100%; margin-top: 10px;}
.itwvSite{text-align: right;}
/*
// TABELA
.table{width: 100%; text-align: left; border-collapse: collapse;}
.table thead th{border-bottom: 2px solid #D2D3D5; margin: 0; padding: 10px; font-weight: 600; font-size: 0.75em; text-align: center; border-right: 1px solid #ccc; border-left: 1px solid #ccc; background: #F5F5F5;}
.table tbody td{border-bottom: 1px solid #D2D3D5; padding: 10px 5px; vertical-align: middle; font-size: 0.75em; color: #727376; border-right: 1px solid #ccc; border-left: 1px solid #ccc;}
.table tbody tr:hover{background: #F5F5F5;}
.table tbody td a{color: #727376;}
.table tfoot td {text-align: left; border-bottom: 1px solid #D2D3D5; padding: 10px 5px;font-size: 0.75em; color: #727376; border-right: 1px solid #ccc; border-left: 1px solid #ccc;}
*/

@media print{
      .noprint {display:none; visibility: hidden; }
      .print_al_right{text-align: right;}
}
